h1 {
    color: goldenrod;
}
body {
    background-color: rgb(7, 50, 7);
    color: aliceblue;
    font-size: 25px;
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-top: 50px;
}
#message-el {
    font-family: italic;
}
button {
   font-size: large;
   width: 130px;
   height: 35px;
   background-color: goldenrod;
   font-weight: bold;
   color: rgb(7, 50, 7);
   border: none;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   cursor: grab;
}
div {
    width: 350px;
    height: 450px;
    background-color: rgb(40, 40, 63);
    border: 3px black solid;
    border-radius: 8px;
}
#credit-el {
    color: black;
    font-weight: bold;
}